/*PARA DEFINIR PALETA DE COLORES*/
:root{
   --blnaco: #ffffff;
   --negro: #212121;
   --azulpastel: #00AAE4;
   --rosa: #F03687;
   --rosafondo: #f3b0b6;
   --verdepastel: #77dd77;
   --amarillopastel: #FFFE71;
   --grisclaro: #9c9c9c;


}

/*GLOBALES*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
 }

 /*contenedor para manejar la barra de navegación, ancho, etc*/
.contenedor{
   max-width: 70rem; /*mide la separacion entre las palabras de la navegacion, o sea que tanto de ancho toman*/
   margin: 0 auto; /**/
   text-align: center;
}

/*BOTON CONTACTO*/
.botonContacto {
   
   background-color: var(--azulpastel);
   color: var(--blnaco);
   padding: 1rem 1rem;
   margin-top: 3rem;
   font-size: 2rem;
   text-decoration: none;
   text-transform: uppercase; /*mayusculas*/
   font-weight: bold; /*negritas*/
   border-radius: .6rem;
   width: 100%;
  
   
}
@media (min-width: 768px) {
   .botonContacto{
      width: auto;
      
   }
   
}




.sombra{
   -webkit-box-shadow: 0px 6px 14px 0px rgba(64,50,64,0.87);
   -moz-box-shadow: 0px 6px 14px 0px rgba(64,50,64,0.87);
    box-shadow: 0px 6px 14px 0px rgba(64,50,64,0.87);
    background-image: linear-gradient(to top, var(--rosafondo) 0%, var(--blnaco)40%);  /*para degradado en el fondo de la pagina*/ /*to top significa de abajo hacia rriba el degradado */

    padding: 2rem;
    border-radius: 2rem;
    
}

body{
    font-size: 16px;
    font-family: 'Kreon', serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blnaco)30%); /*para degradado en el fondo de la pagina*/ /*to top significa de abajo hacia rriba el degradado */
}

/*TIPOGRAFIA*/
h1{
    font-size: 6rem;
    
    color: var(--blnaco);
    font-family: 'Staatliches', cursive;
    
    
}

h2{
  
   font-family: 'Rubik', sans-serif;
   font-size: 5rem;
   padding-top: 5rem;
  
}

h3,h4{
   font-size: 3rem;
}

h1,h2,h3,h4{
   text-align: center;
}

#parrafo1{
   font-size: 3rem;
   text-align: center;
   text-align: justify;
   
    
    
}


 


/*NAVEGACIÓN PRINCIPAL*/
/*para color de fondo*/
.nav-bg{
    background: rgba(43, 42, 41, 0.4);
}

.navegacion-principal{
   
   display: flex; /*habilita flex*/
   flex-direction: column;
  
    
}

@media (min-width: 768px) { /*resolución de la navegación para tablet*/
   .navegacion-principal{
       flex-direction: row;
       justify-content: space-between;/*distribuir el contenido horizontalmente, asi podemos separar las palabras*/
   }
}

/*ESTILOS A LA NAVEGACIÓN*/
.navegacion-principal a {
    display: block;
    text-align: center;
     color: var(--blnaco);
     text-decoration: none;  /*para quitar lal inea de abajo de las letras de los enlaces*/
     font-size: 2rem;
     font-weight: 700; /*700 es lo mismo que poner bold, o sea negritas*/
     padding: 1rem ; 
     
    }

    .navegacion-principal z {
        color: var(--blnaco);
        text-decoration: none;  /*para quitar lal inea de abajo de las letras de los enlaces*/
        font-weight: 700; /*700 es lo mismo que poner bold, o sea negritas*/
        padding: 1rem ; 
        
       }

    .navegacion-principal z:hover{ /*el hover hará que al momento de posicionar el mause en una palabra se disparará un cuadro de color*/
       background-color: var(--verdepastel);
       color: var(--negro);
    }

    .navegacion-principal b {
        color: var(--blnaco);
        text-decoration: none;  /*para quitar lal inea de abajo de las letras de los enlaces*/
        font-weight: 700; /*700 es lo mismo que poner bold, o sea negritas*/
        padding: 1rem ; 
       }
   
       .navegacion-principal b:hover{ /*el hover hará que al momento de posicionar el mause en una palabra se disparará un cuadro de color*/
          background-color: var(--azulpastel);
          color: var(--negro);
       }

     .navegacion-principal c {
        color: var(--blnaco);
        text-decoration: none;  /*para quitar lal inea de abajo de las letras de los enlaces*/
        font-weight: 700; /*700 es lo mismo que poner bold, o sea negritas*/
        padding: 1rem ; 
       }
      
   
       .navegacion-principal c:hover{ /*el hover hará que al momento de posicionar el mause en una palabra se disparará un cuadro de color*/
          background-color: var(--rosa);
          color: var(--negro);
       }

       .navegacion-principal d {
        color: var(--blnaco);
        text-decoration: none;  /*para quitar lal inea de abajo de las letras de los enlaces*/
        font-weight: 700; /*700 es lo mismo que poner bold, o sea negritas*/
        padding: 1rem ; 
       }
   
       .navegacion-principal d:hover{ /*el hover hará que al momento de posicionar el mause en una palabra se disparará un cuadro de color*/
          background-color: var(--amarillopastel);
          color: var(--negro);
       }

       .navegacion-principal e {
        color: var(--blnaco);
        text-decoration: none;  /*para quitar lal inea de abajo de las letras de los enlaces*/
        font-weight: 700; /*700 es lo mismo que poner bold, o sea negritas*/
        padding: 1rem ; 
       }
   
       .navegacion-principal e:hover{ /*el hover hará que al momento de posicionar el mause en una palabra se disparará un cuadro de color*/
          background-color: var(--blnaco);
          color: var(--negro);
       }

       .imagenlog{ /*padre*/
         background-image: url(../img/papasinicio.png) ;
         background-repeat: no-repeat;
         background-size: cover;
         height: 600px;
         
         margin-bottom: 2rem;
         position: relative;
         
       }

       .contenido-imagenlog{ /*hijo*/
          position: absolute;
          background-color: rgb(0 0 0 / 70%); /*transparencia mejorada*/
          width: 100%;
          height: 100%;
          
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: end;
          
       }
       .maps {
         display: block; 
         text-align: center;
       }

       /*:::PIE DE PAGINA:::*/
       
       #parrafo-final{
         text-align: center;
         font-size: 2rem;
         margin-top: 20px;
         font-family: "lato-regular"
      }
     
      #saborsa-final{
        justify-items: center;
        display: block;
        margin: 10rem auto 0 auto;
        
        width: 260px;
        height: 100px;
       
      }
      

   /*ESTILOS PARA INDEX NOSOTROS*/   

   /* TERMINA ESTILOS PARA INDEX NOSOTROS*/
      
 